<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Delete</title>
    </head>

    <body style="background-image: url(/static/collaborators-bg.jpeg)">
        <header>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/faq"> FAQ </a></li>
                <li class="list-inline-item"><a href="/collaborators" style="color: AntiqueWhite"> Collaborators </a></li>
                <li class="list-inline-item"><a href="/iWaitlist"> Waitlist </a></li>
                <li class="list-inline-item"><a href="/donate"> Donate Blood </a></li>
                <li class="list-inline-item"><a href="/help"> Request help </a></li>&nbsp
                <li class="list-inline-item" style="float: left; font-size: 2.2vw;"><a href="/"> getQuickBlood.com </a></li>
            </ul>
        </header>
        <p></p>
        <h2> Hello {{ fname }} {{ lname }} </h2>
        <p> Are you sure you want to delete yourself from our database? </p>
        <form action: link method = "post">
            <input name="confirmation" placeholder="y/n" required autocomplete="off" autofocus type="text">
            <input type="submit">
        </form>
    </body>

</html>

